.DS_Store
/.build /Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
*.egg-info/
.coverage
*.pyc
dist/

/.quarto/
objects.json

notebooks/images
notebooks/myntradataset
notebooks/*.zip
notebooks/.ipynb_checkpoints

build/

*.hcf
*.json
*.msgpack
